
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Welcome to the fitness club</title>
   <link rel="stylesheet" href="stylesheets/style.css" />
 </head>
 <body>
 
   <% if (user) { %>
         <a href="/logout">Log Out</a>
     <% } else { %>
         <a href="/auth/google">Login with Google</a>
   <% } %>
 
   <h1>Welcome to My Fitness </h1>
   <h2> Have a Great Workout. </h2>
   <h3>Select a workout</h3>

   <select id = "myList"> <br>
    <option value = "1">Select a Workout</option>
    <option value = "2">Elliptical</option>
    <option value = "3">Stationary Bike</option>
    <option value = "4">Treadmill</option>
    <option value = "5">Equipment</option> 
  </select>
  
 
   <form action="/comment" method="POST"><br>
     <input type="text" placeholder="Name" name="name">
     <input type="text" placeholder="Leave a Comment" name="comment">
     <button type="submit">Submit</button>
   </form>
 </body>
 </html> 
 