<!DOCTYPE html>
<html>
  <head>
    <title><%= workout.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= workout.title %></h1>
    <p>Welcome to <%= workout.title %></p>

  </body>
</html>
