<!DOCTYPE html>
<html>
  <head>
    <title>All Workouts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% workouts.forEach(w => { %>
      <%= w.name %>
      <% })  %>
  </body>
</html>
